extends mainLayout
block styles
    link(rel='stylesheet', href='public/stylesheets/rules.css')
block title
  title rules about the game
block navbar

block content
    h1 ************* UNO Game Rules *************
    ul#rules 
      li The game is for 2-10 players, ages 7 and over. Every player starts with seven cards, and they are dealt face down. 
      li The rest of the cards are placed in a Draw Pile face down. Next to the pile a space should be designated for a Discard Pile.
      li The top card should be placed in the Discard Pile, and the game begins!
      li Game Play: The first player is normally the player to the left of the dealer and gameplay usually follows a clockwise direction. 
      li Every player views his/her cards and tries to match the card in the Discard Pile.
      li You have to match either by the number, color, or the symbol/Action. For instance, if the Discard Pile has a red card that is an 8 you have to place either a red card or a card with an 8 on it. 
      li You can also play a Wild card (which can alter current color in play).
      li If the player has no matches or they choose not to play any of their cards even though they might have a match, they must draw a card from the Draw pile. 
      li If that card can be played, play it. Otherwise, keep the card, and the game moves on to the next person in turn. You can also play a Wild card, or a Wild Draw Four card on your turn.
      li If the first card turned up from the Draw Pile (to form the Discard Pile) is an Action card, the Action from that card applies and must be carried out by the first player (as stated, it is usually the player to the dealer's left).
      li The exceptions are if a Wild or Wild Draw Four card is turned up.
      li If it is a Wild card, Mattel has now stated that the first player to start (usually the one on the dealer's left), can choose whatever color to begin play. 
      li The game continues until a player has one card left. The moment a player has just one card they must press “UNO!”
      li https://www.unorules.com/













