{{!-- <img id="mainpage-picture" class="w-100" style="background-image"
    src="../images/UNO-colorful-cards-and-deck-on-the-table.jpg" alt="mainpage picture" /> --}}

<div class="container-fluid w-100">
    <div class="row h-80 align-items-center ">
        <div class="col-lg-12 ">
        </div>
        <div class="bg-image" style="background-image: url('https://cdn.pixabay.com/photo/2021/05/18/02/59/uno-6262204_1280.jpg');
            height: 100vh">
            <div class="text-white">
                <h1 class="display-4 text-center text-muted bold fst-italic m-4"></h1>

            </div>
            <div class="container text-center py-4">
                <div class="row row-cols-6 row-cols-lg-3 g-2 g-lg-3 text-center text-white">
                    <div class="col">
                        <a class="text-decoration-none text-white" href="#">
                            <div class="p-3 border-none text-center "></div>
                        </a>

                    </div>
                    <div class="col">
                        <a class="text-decoration-none text-white m-5 my-5" href="/login">
                            <div class="p-3 border-none bg-dark text-center">Play Uno Now</div>
                        </a>

                    </div>
                    <div class="col">
                        <a class="text-decoration-none text-white" href="#">
                            <div class="p-3 border-none text-center"></div>
                        </a>

                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>