<nav id="navbar-example2" class="navbar-light bg-light px-3 m-4 text-center">
    <a class="text-center display-5 text-decoration-none text-muted m" href="/rules">The game goes as follows </a>
    <ul class="nav nav-pills">

    </ul>
    </li>
    </ul>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="text-center text-white py-5"
    tabindex="0">
    <h3 id="heading1">Deal</h3>
    <p class="py-3">Seven cards to each player, one card at a <time class="br"></time>  Place the remaining deck (draw pile) in the middle and flip over
        the top
        card to start the discard pile.</p>
    <h3 id="heading2">Objective</h3>
    <p class="py-3">
        The object of the game is to be the first player to get rid of all the cards in your hand each round. <br>  Cards that
        match
        the top discard in color or number can be played into the middle.</p>
    <h3 id="heading3">Special Cards</h3>
    <p class="py-3">
    <h5> Skip </h5>- When played, the next player's turn is skipped. <br> The Skip card can be played on a matching color
    discard or
    a
    previously played Skip. If a Skip is the first discard flipped, <br> the player left of the dealer is skipped, and
    the next
    player begins play.</p>

    <p class="py-3">
    <h5>Reverse </h5> - When played, the direction of play is reversed. <br> The Reverse card can be played on a matching
    color
    discard or
    a previously played Reverse. If a Reverse is the first discard flipped, <br> the dealer begins play and play
    continues
    counter-clockwise.</p>
    <h3 class="py-3" id="heading5">Game Play</h3>
    <p class="py-3">The player left of the dealer is first to play. <br>  A card can be played into the middle if it matches the top
        discard in
        color or number, or a special card can be played (see above). <br> If a player cannot play, a card is drawn from the
        draw
        pile. If the card drawn can be played, the player can play it.</p>
    <p>Once a player is down to one card left, he/she must press “Uno.” </p>
    <h3 id="heading6">Score</h3>
    <p class="py-3">The player that got rid of his/her cards first is awarded points <br> based on the cards remaining in the other
        players’
        hands.</p>
    <p>Cards 0-9: Face Value (i.e., a 5 is worth 5 points) <br>

        Skip/Reverse/Draw 2: 20 points each <br>

        Wild/Draw 4 Wild: 50 points each <br>

        The first player to 500 points wins the game.</p>

</div>















Score




Rule
If the draw pile runs out before a player wins the round, reshuffle the discard pile to make a new draw pile.