body {
    height:100vh;
  }
  
  
  .gamePageArea {
    flex-grow: 1;
    padding: 0px;
    background-color: #58636e;
  }
  .game {
    margin: 1px;
    padding: 2px;
  }
  
  .bottom {
    flex-basis: 145px;
    flex-grow: 0.5;
    margin: 1px;
  }
  
  .bottom .container-fluid {
    padding: 0px;
  }

  
  .top {
    flex-grow: 0.5;
  }
  
  .middle {
    flex-grow: 1;
  }
  
 

  .gameCard {
    box-sizing: border-box;
    display: block;
  
    height: 120px;
    width: 67px;
  
    margin: 8px;
    padding: 0px;
  

  }
  
  #cardcenter .gameCard:hover {
    transform: scale(1.6);
  }
  
  .middle .center {
    padding: 0px;
  }
  
  #cardcenter {
    padding: 0px;
  }
  
  #cardcenter .row {
    margin: 0px;
    height: 100%;
    width: 100%;
  }
  
  .middle .col-sm {
    padding: 2px;
    max-height: 100%;
  }
  
  .row .col-sm-6 {
    padding: 2px;
  }
  
  .displayCard,
  .hideDisplayCard {
    display: block;
    height: 100px;
    max-height: 100px;
    width: 100%;
    object-fit: cover;
  
    border-radius: 5px;
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .cards {
    cursor: pointer;
  
    padding: 0px;
  
    z-index: 1000;
  }
  

  
  .game-hand {
    box-sizing: border-box;
    display: flex;
  
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
  
    height: 100%;
    width: 100%;
  
    justify-content: center;
    align-items: start;
  }
  
  .game-hand .gameCard {
    margin: 2px;
    max-height: 60px;
    max-width: 32px;
    height: 100px;
    max-height: 100px;
  }
  
  .game-hand .hideDisplayCard,
  .game-hand .displayCard {
    height: 100%;
    height: 100px;
    max-height: 100px;
    object-fit: contain;
  }
  
  .gameplayerincenter {
    box-sizing: border-box;
    display: flex;
  
    flex-direction: column;
  
    justify-content: center;
    align-items: start;
  }
  

  
  .topgameplayer-container {
    box-sizing: border-box;
    display: flex;
  
    flex-direction: row;
  
    justify-content: center;
    align-items: center;
  }
  
  .usergamebox {
    box-sizing: border-box;
    display: flex;
  
    flex-direction: row;
  
    justify-content: center;
    align-items: center;
  }
  

  .gameplayeronside {
    padding: 0px 20px;
  }
  

  .titleOfChat {
    border-bottom: 1px solid grey;
    padding: 8px 16px;
  }

  
  .chatTitleTop {
    display: block;
    color: rgb(251, 237, 80);
    text-align: center;
  }
  

