/* CSS PAGE FOR GAME PAGE DISPLAYING CARDS AND FORMATTING */


body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000&t=st=1670651949~exp=1670652549~hmac=a41d9bcc846d4c9720f663dcaec7686718050e2e441a1a87610e7fb4404b756e");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outer > * {
  display: inline-block;
  vertical-align: middle;
}
.one {
  width: 50px;
  height: 50px;
}
.two {
  width: 50px;
  height: 50px;
}
.three {
  width: 50px;
  height: 50px;
}

/* Center Cards on Table */
/* //////////////////////// */

.move:hover {
  transform: scale(1.5);
  transition: bottom 10s ease;
}

.zoom:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.5);
  transition: top 10s ease;
}

/* Chat Section */

#chatbox {
  height: 700px;
  width: 400px;
  position: relative;
  left: 1460px;
}

#userInput,
#sendChat-btn {
  top: 570px;
  padding-bottom: 25px;
}

/* LEFT PLAYER */

#leftplayer {
  position: relative;
  left: 100px;
  top: 100px;
}

#leftPlayer > img {
  position: relative;
  right: 100px;
  top: 300px;
}

#rightPlayer > img {
  position: relative;
  top: 250px;
  right: 80px;
}

#bottomPlayer > img {
  position: relative;
  top: 600px;
  right: 80px;
}

#centerDeck > img,
#centerDeckDown > img {
  position: relative;
  top: 300px;
}

#topPlayer > img {
  position: relative;
  top: 50px;
  right: 80px;
}
/* PLAYERNAMES */

body
  > main
  > div.container
  > div:nth-child(1)
  > div:nth-child(2)
  > div
  > div.text-white {
  position: relative;

  right: 275px;
}

body
  > main
  > div.container
  > div:nth-child(2)
  > div:nth-child(1)
  > div
  > div.text-white {
  position: relative;
  top: 400px;
  right: 300px;
}

body
  > main
  > div.container
  > div:nth-child(3)
  > div:nth-child(2)
  > div
  > div.text-white {
  position: relative;
  top: 700px;
  right: 270px;
}



body
  > main
  > div.container
  > div:nth-child(3)
  > div:nth-child(3)
  > div
  > div.text-white {
  position: relative;
  top: 350px;
  right: 270px;
}



