#chat-container button {
 width: auto;
 padding: 10px;
 background: white;
 color: black;
 font-size: 15px;
 border-left: none;
 cursor: pointer;
 font-size: 20px;
}

#chat-container button:hover {
 background: #0ca8d7;
}

#chat-container{
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: auto 75px;
 gap: .2rem;
 grid-template-areas: 
 "messages"
 "comment-box";
}

#chat-container input[type=text] {
 margin-top: 3px;
 margin-left: 3px;
 padding: 10px;
 width: 90%;
 font-size: 15px;
 border: 1px solid black;
 background: #000000;
 display: inline-block;
}

#chat-container input[type=text]:focus {
 color: #9dc7e8;
 outline: 2px solid #16a6d1;
}

#chat-box{
 display: grid;
 grid-template-areas: 
 "chat-input chat-input chat-input button";
}

#chat-text{
 grid-area: chat-input;
}

#chat-button{
 grid-area: button;
}