<div class="col" id="chat-container">
  <h1 id="title">Lobby chat</h1>
  <div id="message-container">

  </div>
  <form id="chat-box">
   <input id="message-input" type="text" placeholder="Enter Message..." required autocomplete="off"
    class="p-3 border-none bg-white " />
   <button type="submit" id="send-button"><i class="fas fa-paper-plane"></i> Send</button>
  </form>
  <script defer src="backend/services/chat-service.js"></script>
 </div>