<script>
 <div class="col" id="chat-container">
  <h1 id="title">Global chat</h1>
  <div id="messages">

  </div>
  <form id="chat-box">
   <input id="chat-text" type="text" placeholder="Enter Message..." required autocomplete="off"
    class="p-3 border-none bg-white " />
   <button class="chat-button"><i class="fas fa-paper-plane"></i> Send</button>
  </form>
 </div>
</script>