<!-- FILE TO PROVIDE FOOTER FOR ALL PAGES -->

<body class="d-flex flex-column h-100">

    <footer class="text-center text-white footer mt-auto" style="background-color: #000000;">
             
           


        <div class="container">


            <p class="d-flex justify-content-center align-items-center mb-0">
                <span class="me-2">Register for free</span>
                <a href="/register"> <button type="button" class="btn btn-outline-light btn-rounded">
                        Sign up!
                    </button>
                </a>

            </p>
    

        </div>





    </footer>

</body>