<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #000000;">

        <div class="container p-2 pb-0">

            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-2">Register for free</span>
                    <a href="/register"> <button type="button" class="btn btn-outline-light btn-rounded">
                            Sign up!
                        </button>
                    </a>

                </p>
            </section>

        </div>



        <div class="text-center p-1" style="background-color: rgba(185, 181, 181, 0.2);">
            2022:
            <a class="text-white" href="https://sfsu.edu">CSC 667 Team RYWL</a>
        </div>

    </footer>
    <!-- Footer -->
</section>