<body class="bg">
    <link rel="stylesheet" href="/assets/stylesheets/cardGame.css">
    {{!-- Player Number One with 10 cards --}}
    <div class="main-wrapper leftPlayersHandWrap text-white " id="main-wrapper">
        {{!-- Cards 1-10 --}}
        <div class="row faceUp" classname="move" id="leftPlayerOneCardOne">
            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom" alt="missingCard">
            </div>

        </div>

        <div class="row "classname="move" id="leftPlayerOneCardTwo">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"  class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move"id="leftPlayerOneCardThree">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="leftPlayerOneCardFour">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="leftPlayerOneCardFive">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="leftPlayerOneCardSix">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="leftPlayerOneCardSeven">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row "  classname="move" id="leftPlayerOneCardEight">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="leftPlayerOneCardNine">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="leftPlayerOneCardTen">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="playerNumberOne">

            <div class=".col-md-3 .ml-md-auto">
                <h3> Player#1</h3>
            </div>
        </div>



    </div>

    {{!-- Player Number Two with 10 cards --}}

    <div class="main-wrapper topPlayerHandWrap text-white " id="main-wrapper">
        {{!-- Cards 1-10 --}}
        <div class="row faceUp" classname="move" id="topPlayerTwoCardOne">
            <div class=".col-md-3 .mt-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>

        </div>

        <div class="row " classname="move" id="topPlayerTwoCardTwo">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="topPlayerTwoCardThree">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="topPlayerTwoCardFour">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row "classname="move"  id="topPlayerTwoCardFive">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="topPlayerTwoCardSix">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="topPlayerTwoCardSeven">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="topPlayerTwoCardEight">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row "  classname="move" id="topPlayerTwoCardNine">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="topPlayerTwoCardTen">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"   alt="missingCard">
            </div>
        </div>

        <div class="row " id="playerNumberTwo">

            <div class=".col-md-3 .ml-md-auto">
                <h3> Player#2</h3>
            </div>
        </div>



    </div>



    {{!-- Card Deck Center with 2 cards representing draw pile and shown played card --}}

    <div class="main-wrapper topPlayerHandWrap text-white " id="main-wrapper">

        <div class="row CenterCardfaceUpDeck" classname="move" id="faceUpDeck">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg" class="zoom" alt="missingCard">
            </div>
        </div>

        <div class="row CenterCardfaceDownPlayedDeck" classname="move" id="faceDownPlayerDeck">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom" alt="missingCard">
            </div>
        </div>

    </div>



    {{!-- Player Number Three with 10 cards --}}

    <div class="main-wrapper rightPlayerHandWrap text-white " id="main-wrapper">
        {{!-- Cards 1-10 --}}
        <div class="row" classname="move" id="rightPlayerThreeCardOne">
            <div class=".col-md-3 ml-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>

        </div>

        <div class="row " classname="move" id="rightPlayerThreeCardTwo">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="rightPlayerThreeCardThree">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="rightPlayerThreeCardFour">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="rightPlayerThreeCardFive">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="rightPlayerThreeCardSix">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="rightPlayerThreeCardSeven">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="rightPlayerThreeCardEight">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="rightPlayerThreeCardNine">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="rightPlayerThreeCardTen">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="playerNumberThree">

            <div class=".col-md-3 .ml-md-auto">
                <h3> Player#3</h3>
            </div>
        </div>



    </div>

    {{!-- Player Number Four with 10 cards --}}
    <div class="main-wrapper bottomPlayerHandWrap text-white " id="main-wrapper">
        {{!-- Cards 1-10 --}}
        <div class="row faceUp" classname="move" id="bottomPlayerFourCardOne">
            <div class=".col-md-3 .mt-md-auto ">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>

        </div>

        <div class="row " classname="move" id="bottomPlayerFourCardTwo">

            <div class=".col-md-3 .ml-md-auto">
                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="bottomPlayerFourCardThree">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="bottomPlayerFourCardFour">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="bottomPlayerFourCardFive">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="bottomPlayerFourCardSix">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>
        <div class="row " classname="move" id="bottomPlayerFourCardSeven">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="bottomPlayerFourCardEight">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="bottomPlayerFourCardNine">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="bottomPlayerFourCardTen">

            <div class=".col-md-3 .ml-md-auto">

                <img src="assets/images/unoCard.jpg"   class="zoom"  alt="missingCard">
            </div>
        </div>

        <div class="row " classname="move" id="playerNumberFour">

            <div class=".col-md-3 .ml-md-auto">
                <h3> Player#4</h3>
            </div>
        </div>

        {{!-- ///////////////////////////////////////////////////////
        ///////////////////CHAT SECTION ///////////////////////
        /////////////////////////////////////////////////////// --}}

        <div class="chat col-sm-3 flex-column bg-dark" id="chatbox">
            <div class="titleOfChatBox container bg-dark pt-2 pb-2">
                <div class="row">
                    <div class="chat-title col h3 mt-1 text-center text-warning">Game Chat</div>
                    <div class="chatbox"></div>
                    <div class="chat-message-box container bg-dark mb-2">
                        <form>
                            <div class="input-group"><input class="form-control" id="userInput" type="text" /><button
                                    class="btn bg-success text-white" classname="ChatSendButton"  id="sendChat-btn" type="submit">
                                    Send </button></div>
                        </form>
                    </div>
                </div>
            </div><button class="btn btn-default open-chat" id="chat-open-btn"><i
                    class="fa fa-chevron-left"></i></button>
        </div>

    </div>

    
</body>