<div id="indexPage-container">
    <div class="text-center mt-5 text-white h1" id="titleOfPage">Team RYWL Project: Uno</div>
    <div class="container">
        <div class="row">
        
            <div>
                <img class="col-sm-20 col-md-6 offset-md-3 d-grid mt-5 my-5" src="https://images.unsplash.com/photo-1595538742276-54d443f3b575?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" height="300px">
            </div>
          
            <div class="col-sm-20 col-md-6 offset-md-3 d-grid mt-5 my-5"><a class="btn btn-lg btn-warning" type="button"
                    title="Click Here To Play Multiplayer Uno" href="/login" id="play-btn"> <span>Click to Play
                        Uno</span></a></div>

        </div>
    </div>
    <span style="height: 138px; display: block;"></span>

</div>
