<!-- DUMMY PAGE FOR USERS WHEN LOGGED IN BUT NOT IN A GAME -->

<div class="container text-center mt-5 text-uppercase font-weight-bold py-5" style="background-color: #46BDA8;">
    <p class="text-white">This is about our game, Not much eh? </p><br />
    <p class="text-dark">Uno is a multiplayer experience,</p><br />
    <p class="text-dark">You can join with some partners and have fun!</p><br />
    <p class="text-dark">Don't know how you got here? ODD . . .</p><br />
    <p class="text-danger">CLICK THE | IMAGE | to get started!<i class="fa fa-arrow-down px-3" aria-hidden="true"></i><br /><br /></p><a href="/"><img src="/assets/images/friends.jpeg" height="300px" /></a>
</div>