{{!-- <script src="/javascripts/register.js" defer="defer"></script> --}}
<div class="container text-center">
  <div class="row m-5">
    <div class="col-sm-12 col-md-8 offset-md-2 mt-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Register</h2>
          <hr>
          <div class="alert alert-danger" id="error-alert" role="alert" hidden="hidden">Sorry, an Issue Came Up.</div>
          <div class="alert alert-success" id="success-alert" role="alert" hidden="hidden"><span>Account successfully created! Click </span><a href="/login"><span> For Login</span></a></div>
          <form id="signUp-form">
            <div class="form-group">
              <label for="usernameInput">Username</label>
              <input class="form-control" required="required" id="usernameInput" type="text" placeholder="Enter Your Username" name="username"/>
            </div><br/>
            <div class="form-group">
              <label for="emailInput">Email</label>
              <input class="form-control" required="required" id="emailInput" type="email" placeholder="Enter Your Email ex: `username@gmail.com`" name="email"/>
            </div><br/>
            <div class="form-group">
              <label for="passwordInput">Password</label>
              <input class="form-control" required="required" id="passwordInput" type="password" placeholder="Enter Your Password" name="password"/>
            </div><br/>
            <button class="btn btn-success" id="signUp-btn" type="submit">Register</button><a class="card-text p-5" href="/login">Already have an account? Login</a>
          </form>
          
        </div>
      </div>
    </div>
  </div>
  <span style="height: 237px; display: block;"></span>
</div>