<body class='bg'>
  <link rel='stylesheet' href='/assets/stylesheets/cardGame.css' />
  <script defer src='/js/gameSocket.js'></script>
  {{#ifEquals game_state 'ready'}}
    <div>
      <button>
        START GAME
      </button>
    </div>
  {{/ifEquals}}
  {{! Player Number One with 10 cards }}
  <div class='main-wrapper leftPlayersHandWrap text-white'>
    {{! Cards 1-10 }}
    <div class='row faceUp' id='leftPlayerOneCardOne'>
      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>

    </div>

    <div class='row' id='leftPlayerOneCardTwo'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='leftPlayerOneCardThree'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='leftPlayerOneCardFour'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='leftPlayerOneCardFive'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='leftPlayerOneCardSix'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='leftPlayerOneCardSeven'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='leftPlayerOneCardEight'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='leftPlayerOneCardNine'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='leftPlayerOneCardTen'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='playerNumberOne'>

      <div class='.col-md-3 .ml-md-auto'>
        <h3> Player#1</h3>
      </div>
    </div>

  </div>

  {{! Player Number Two with 10 cards }}

  <div class='main-wrapper topPlayerHandWrap text-white'>
    {{! Cards 1-10 }}
    <div class='row faceUp' id='topPlayerTwoCardOne'>
      <div class='.col-md-3 .mt-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>

    </div>

    <div class='row' id='topPlayerTwoCardTwo'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='topPlayerTwoCardThree'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='topPlayerTwoCardFour'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='topPlayerTwoCardFive'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='topPlayerTwoCardSix'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='topPlayerTwoCardSeven'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='topPlayerTwoCardEight'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='topPlayerTwoCardNine'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='topPlayerTwoCardTen'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='playerNumberTwo'>

      <div class='.col-md-3 .ml-md-auto'>
        <h3> Player#2</h3>
      </div>
    </div>

  </div>

  {{! Card Deck Center with 2 cards representing draw pile and shown played card }}

  <div class='main-wrapper topPlayerHandWrap text-white'>

    <div class='row CenterCardfaceUpDeck' id='faceUpDeck'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row CenterCardfaceDownPlayedDeck' id='faceDownPlayerDeck'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

  </div>

  {{! Player Number Three with 10 cards }}

  <div class='main-wrapper rightPlayerHandWrap text-white'>
    {{! Cards 1-10 }}
    <div class='row faceUp' id='rightPlayerThreeCardOne'>
      <div class='.col-md-3 .mt-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>

    </div>

    <div class='row' id='rightPlayerThreeCardTwo'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='rightPlayerThreeCardThree'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='rightPlayerThreeCardFour'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='rightPlayerThreeCardFive'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='rightPlayerThreeCardSix'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='rightPlayerThreeCardSeven'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='rightPlayerThreeCardEight'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='rightPlayerThreeCardNine'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='rightPlayerThreeCardTen'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='playerNumberThree'>

      <div class='.col-md-3 .ml-md-auto'>
        <h3> Player#3</h3>
      </div>
    </div>

  </div>

  {{! Player Number Four with 10 cards }}
  <div class='main-wrapper bottomPlayerHandWrap text-white'>
    {{! Cards 1-10 }}
    <div class='row faceUp' id='bottomPlayerFourCardOne'>
      <div class='.col-md-3 .mt-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>

    </div>

    <div class='row' id='bottomPlayerFourCardTwo'>

      <div class='.col-md-3 .ml-md-auto'>
        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='bottomPlayerFourCardThree'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='bottomPlayerFourCardFour'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='bottomPlayerFourCardFive'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='bottomPlayerFourCardSix'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>
    <div class='row' id='bottomPlayerFourCardSeven'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='bottomPlayerFourCardEight'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='bottomPlayerFourCardNine'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='bottomPlayerFourCardTen'>

      <div class='.col-md-3 .ml-md-auto'>

        <img src='../assets/images/unoCard.jpg' alt='missingCard' />
      </div>
    </div>

    <div class='row' id='playerNumberFour'>

      <div class='.col-md-3 .ml-md-auto'>
        <h3> Player#4</h3>
      </div>
    </div>

    {{! ///////////////////////////////////////////////////////
        ///////////////////CHAT SECTION ///////////////////////
        /////////////////////////////////////////////////////// }}

    <div class='chat col-sm-3 flex-column bg-dark' id='chatbox'>
      <div class='titleOfChatBox container bg-dark pt-2 pb-2'>
        <div class='row'>
          <div class='chat-title col h3 mt-1 text-center text-warning'>Game Chat</div>
          <div class='chatbox'></div>
          <div class='chat-message-box container bg-dark mb-2'>
            <form>
              <div class='input-group'><input
                  class='form-control'
                  id='userInput'
                  type='text'
                /><button
                  class='btn bg-success text-white'
                  classname='ChatSendButton'
                  id='sendChat-btn'
                  type='submit'
                >
                  Send
                </button></div>
            </form>
          </div>
        </div>
      </div><button class='btn btn-default open-chat' id='chat-open-btn'><i
          class='fa fa-chevron-left'
        ></i></button>
    </div>

  </div>

</body>
