<body class='bg'>
  <link rel='stylesheet' href='/assets/stylesheets/cardGame.css' />
  <script defer src='/js/gameSocket.js'></script>
  {{#ifEquals game_state 'ready'}}
    <div>
      <button type="button" onclick="initGame(event)">
        START GAME
      </button>
    </div>
  {{/ifEquals}}

  <div id="deck-container">

  </div>

  <div class='chat col-sm-3 flex-column bg-dark' id='chatbox'>
    <div class='titleOfChatBox container bg-dark pt-2 pb-2'>
      <div class='row'>
        <div class='chat-title col h3 mt-1 text-center text-warning'>Game Chat</div>
        <div class='chatbox'></div>
        <div class='chat-message-box container bg-dark mb-2'>
          <form>
            <div class='input-group'><input
                class='form-control'
                id='userInput'
                type='text'
              /><button
                class='btn bg-success text-white'
                classname='ChatSendButton'
                id='sendChat-btn'
                type='submit'
              >
                Send
              </button></div>
          </form>
        </div>
      </div>
    </div>
  </div>

    {{! ///////////////////////////////////////////////////////
        ///////////////////CHAT SECTION ///////////////////////
        /////////////////////////////////////////////////////// }}

  <div class='chat col-sm-3 flex-column bg-dark' id='chatbox'>
    <div class='titleOfChatBox container bg-dark pt-2 pb-2'>
      <div class='row'>
        <div class='chat-title col h3 mt-1 text-center text-warning'>Game Chat</div>
        <div class='chatbox'></div>
        <div class='chat-message-box container bg-dark mb-2'>
          <form>
            <div class='input-group'><input
                class='form-control'
                id='userInput'
                type='text'
              /><button
                class='btn bg-success text-white'
                classname='ChatSendButton'
                id='sendChat-btn'
                type='submit'
              >
                Send
              </button></div>
          </form>
        </div>
      </div>
    </div><button class='btn btn-default open-chat' id='chat-open-btn'><i
        class='fa fa-chevron-left'
      ></i></button>
  </div>

  </div>

</body>
